@import url(../../Global.css);


.headerHome{
    background-color: var(--primary-purple-black);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;  
    position: fixed;

}

.alterPage{
    margin-right: 15%;
    display: flex;
    align-items: center;
    text-align: center;

}
.homeLink,.entrarLink,.blogsLink{
    align-items: center;
    text-align: center;
    padding: 10px
}
.imgHome,.imgEntrar,.imgBlogs{
    height: 20px;
    width: 20px;
}

.inicio{
    display: inline-block;
    margin-bottom: 20px;
    color: var(--black);
    font-size: 14px;
    text-decoration: none;

}


.image-area{
    height: 50px;
    width: 90%;
    margin: auto;
  
}

.image-area img{
    height: 600px;
    width: 100%;
    border-radius: 10px;
    bottom: -20px;
}

.post-card{
    background-color: var(--white);
    padding: 35px;
    width: 65%;
    border-radius: 14px;
    position: relative;
    left: 5%;
    justify-content: center;
    bottom: -405px;
    box-shadow: 0px 10px 30px var(--black);
  
}

.destaque{
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-purple-black);
}

.text{
    font-size: 28px;
    margin: 20px 0 10px;
}

.conteudo{
    padding: 20px 0 50px 0;
}

.conteudo p{
    padding: 20px 0 50px 0;
}

.conteudo h2{
    padding: 20px 0 50px 0;
    margin-top: 25px;
    font-size: 20px;
}









