@import url(../../Global.css);


.alterPage{
    margin-right: 15%;
    display: flex;
    align-items: center;
    text-align: center;

}
.homeLink,.entrarLink,.blogsLink{
    align-items: center;
    text-align: center;
    padding: 10px
}
.imgHome,.imgEntrar,.imgBlogs{
    height: 20px;
    width: 20px;
}

.inicio{
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    color: var(--black);
    font-size: 14px;
    text-decoration: none;
    background-color: var(--white);

}

.image-area{
    width: 70%;
    max-height: 500px;
    margin: auto;
  
}
.image-area img{
    max-height: 500px;
    width: 100%;
    border-radius: 10px;
    
}
.post-card{
    top: -50px;
    position: relative;
    margin: auto;
    background-color: var(--white);
    padding: 2%;
    text-align: left;
    width: 60%;
    border-radius: 20px;
    box-shadow: 0px 10px 30px var(--black);
}

.categoria{
    padding: 2px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary-purple-light);
}

.text{
    font-size: 28px;
    margin: 20px 0 10px;
}

.assuntoText{
    padding: 20px 0 50px 0;
}

.assuntoText p{
    padding: 20px 0 50px 0;
}

.assuntoText h2{
    padding: 20px 0 50px 0;
    margin-top: 25px;
    font-size: 20px;
}
.returns{
    margin-top: 1%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.returnText{
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
   
}








