@import url("../../Global.css");


.headerMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid var(--principal-clara);
}

.headerTitle {
    margin-left: 15%;
    font-size: 24px;
    font-weight: bold;
    color: var(--principal);
    text-decoration: none;
}

.headerTitle:hover {
    transition: 300ms;
    transform: translateY(-2px);
}

.headerText {
    margin: 3%;
    font-size: 18px;
    color: var(--texto);
    text-align: center;
}
.headerUserTitle{
    color: var(--principal);
    font-size: 20px;
}
.headerUserTitle:hover{
    transition: 300ms;
    transform: translateY(-2px);
    font-size: 21px;
}
.headerText:hover {
    transition: 300ms;
    transform: translateY(-2px);
}

.headerHome {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: var(--principal);
}

.headerTitleHome {
    margin-left: 15%;
    font-size: 24px;
    font-weight: bold;
    color: var(--branco2);
}

.headerTitleHome:hover {
    transition: 300ms;
    transform: translateY(-2px);
}

.headerMainSobre {
    background-color: var(--branco2);

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    
    border-bottom: 1px solid var(--principal-clara);
}

.headerTitleSobre {
    margin-left: 10%;
    font-size: 24px;
    font-weight: bold;
    color: var(--principal);
    text-decoration: none;
}

.alterPage {
    margin-right: 15%;
    display: flex;
    align-items: center;
    text-align: center;
}

.homeLink,
.entrarLink,
.blogsLink {
    align-items: center;
    text-align: center;
    padding: 15px
}

.imgLinks {
    height: 20px;
    width: 20px;
}

.imgLinks:hover {
    transition: 300ms;
    height: 22px;
    width: 22px;
}

.alterButtons {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    color: var(--branco2);
    border: none;
    cursor: pointer;
    text-align: center;
    background: none;
    text-decoration: none;
    font-size: 14px;
}

.alterButtons:hover {
    transform: translateY(-5px);
    transition: 300ms;
}
.return{
    margin-left: 15%;
}
.returnImg {
    width: 30px;
    height: 30px;
    border: 3px solid var(--primary-purple);
    border-radius: 20px;
}
.returnImg:hover{
    box-shadow: 0 2px 4px var(--texto);
    transition: 300ms;
    transform: translateX(-5px);
}