@import url("../../Global.css");

:root {
    --texto: #000000;
    /*(#370617): home: botao de voltar pra cima, frase grande e lupa; blogPages: titulo, botao de voltar; blog: titulo, botao com seta, botao (novo post(dentro) e botao de criar postagem (salvar(dentro))*/
    --principal: #263b54;
    /*(#d00000): home: linha em baixo de "artigo", linha da barra de "pesquisa artigo"; Pages: linha do header e fundo de tecnologia; Blog: todas as linhas que tiver*/
    --principal-clara: #3c526d;
    /*(#d00000): home: linha em baixo de "artigo", linha da barra de "pesquisa artigo"; Pages: linha do header e fundo de tecnologia; Blog: todas as linhas que tiver*/
    --secundaria: #6d0000;
    /*(#9995a6a2): Home: nada; Pages: nada; Blog: fundo da caixa de criar postagem*/
    --branco2: #cbd5dc;
    /*(#370617): Home: fundo do começo e fim, 2 linha da barra de "pesquisar artigos"; Pages: nada; Blog: quando passa a seta em cima de salvar*/
    --branco: #ffffff;
    /*(#9d0208): Home: nada; Pages: nada; Blog: nada (acho que não tem em nenhum ou so estou cega de sono mesmo)*/

}

.headerMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid var(--principal-clara);
}

.headerTitle {
    margin-left: 15%;
    font-size: 24px;
    font-weight: bold;
    color: var(--principal);
    text-decoration: none;
}

.headerTitle:hover {
    transition: 300ms;
    transform: translateY(-2px);
}

.headerText {
    margin: 3%;
    font-size: 18px;
    color: var(--texto);
    text-align: center;
}
.headerUserTitle{
    color: var(--principal);
    font-size: 20px;
}
.headerUserTitle:hover{
    transition: 300ms;
    transform: translateY(-2px);
    font-size: 21px;
}
.headerText:hover {
    transition: 300ms;
    transform: translateY(-2px);
}

.headerHome {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: var(--principal);
}

.headerTitleHome {
    margin-left: 15%;
    font-size: 24px;
    font-weight: bold;
    color: var(--branco2);
}

.headerTitleHome:hover {
    transition: 300ms;
    transform: translateY(-2px);
}

.headerMainSobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid var(--principal-clara);
}

.headerTitleSobre {
    margin-left: 10%;
    font-size: 24px;
    font-weight: bold;
    color: var(--principal);
    text-decoration: none;
}

.alterPage {
    margin-right: 15%;
    display: flex;
    align-items: center;
    text-align: center;
}

.homeLink,
.entrarLink,
.blogsLink {
    align-items: center;
    text-align: center;
    padding: 15px
}

.imgLinks {
    height: 20px;
    width: 20px;
}

.imgLinks:hover {
    transition: 300ms;
    height: 22px;
    width: 22px;
}

.alterButtons {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    color: var(--branco2);
    border: none;
    cursor: pointer;
    text-align: center;
    background: none;
    text-decoration: none;
    font-size: 14px;
}

.alterButtons:hover {
    transform: translateY(-5px);
    transition: 300ms;
}
.return{
    margin-left: 15%;
}
.returnImg {
    width: 30px;
    height: 30px;
    border: 3px solid var(--primary-purple);
    border-radius: 20px;
}
.returnImg:hover{
    box-shadow: 0 2px 4px var(--texto);
    transition: 300ms;
    transform: translateX(-5px);
}