@import url("../../Global.css");

.headerMain{
    display: flex;
	align-items: center;
	justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid var(--primary-purple-light);
}
.headerTitle{
    margin-left: 15%;
    font-size: 24px;
    font-weight: bold;
	color: var(--primary-purple);
    text-decoration: none;
}
.headerText{
  margin-right: 15%;
    font-size: 18px;
	color: var(--gray);
}

.headerHome{
   
    width: 100%;
   
    display: flex;
	align-items: center;
	justify-content: space-between;
    height: 70px;
    background-color: var(--primary-purple-black);
}
.headerTitleHome{
    margin-left: 15%;
    font-size: 24px;
    font-weight: bold;
    color: var(--vine-glass);
}
