@import url("../../Global.css");


.criar{
  display: none; /* genial deixa invisible massa demais */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(8px); /*  trasparente */ 
  backdrop-filter: blur(8px); /*  trasparente */ 
  justify-content: center;
  align-items: center;

}


.criar.active {
  display: flex; /* genial deixa visivel agora massa demais */
}

.criarMain {

  background: var(--branco2);
  max-width: 480px;
  border-radius: 16px;
  border: 1.5px solid var(--texto);
  overflow: hidden;
  box-shadow: 0 20px 40px var(--texto);

}

.criarHeader {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  
  
}

.titleText {
  font-size: 24px;
  font-weight: 600;
  color: var(--principal);
  width: 100%;
} 
.description{
  font-size: 16px;
  color: var(--texto);
  padding: 5px 24px;
}
.descriptionBox{
  width: 100%;
 
}
.formContainer {
  padding: 28px 24px;
}

.inputBox {
  margin-bottom: 10px;
}

.inputBox label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--principal);
  font-size: 16px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  background: var(--principal-clarinho);
  border: 1.5px solid var(--branco2);
  border-radius: 8px;
  color: var(--branco);
  font-size: 16px;
}

.inputBox input:focus {
  outline: none;
  border-color: var(--principal);
  transition: 500ms;
  background-color: var(--principal);

}
.inputBox input::placeholder {
  color: var(--branco);
}

.criarButtons {
  margin-top: 20px;
  align-items: center;
  text-align: center;
}
.btnSalvar{
    color: var(--branco);  
    background-color: var(--principal);
    border: none;
    cursor: pointer;
    border-radius: 12px;
    cursor: pointer;
    width: 210px;
    height: 30px;
    text-align: center;
    align-items: center;
    
}
.btnSalvar:hover{
    width: 215px;
    background-color: var(--principal-clara);
    transition: 300ms;

}
.btnCancelar{
    color: var(--branco);
    background-color: var(--principal);
    border: none;
    cursor: pointer;
    border-radius: 12px;
    cursor: pointer;
    width: 210px;
    height: 30px;
    text-align: center;
    align-items: center;
    
}
.btnCancelar:hover{
    width: 215px;
    background-color: var(--principal-clara);
    transition: 300ms;
}
.excluir{
    display: none; /* genial deixa invisible massa demais */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(8px); /*  trasparente */ 
    backdrop-filter: blur(8px); /*  trasparente */ 
    justify-content: center;
    align-items: center;
    position: fixed;
}
.excluir.active {
    display: flex; /* genial deixa visivel agora massa demais */
}
.criarExluir{
  border-radius: 15px;
  padding: 2%;
  background-color: var(--branco2);
}
.descriptionExcluir{
  font-size: 16px;
  color: var(--texto);
  padding: 5px 24px;
}
.cadastroBox{
    display: none; /* genial deixa invisible massa demais */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(8px); /*  trasparente */ 
    backdrop-filter: blur(8px); /*  trasparente */ 
    justify-content: center;
    align-items: center;
    position: fixed;
}
.cadastroBox.ativo{

  display: flex;
}
.login{
  padding: 20px;
  background-color: var(--branco2);
  border-radius: 10px;
}
.login.ativo{
  display: flex;
}
.modalError{
    display: none; /* genial deixa invisible massa demais */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(8px); /*  trasparente */ 
    backdrop-filter: blur(8px); /*  trasparente */ 
    justify-content: center;
    align-items: center;
    position: fixed;
}
.modalError.ativo{
  display: flex;
}

.nada{

    display: none;
    color: var(--principal);
    font-size: 18px;
    background-color: var(--branco2);
    width: 100%;
    min-height: 250px;
    

}
.nada h3{
    margin: auto;
    text-align: center;
}
.nada.nada{
    display: flex;
}
.pupularinhos{  
    min-height: 400px;
}
.nadaP{
  color: var(--texto);
  font-size: 14px;
}
.top{
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--principal-clara);
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px var(--texto);
}
.top:hover{
    transition: 500ms;
    height: 33px;
    width: 33px;
}

.topImg{
    height: 100%;
    width: 100%;
}
