@import url("../../Global.css");


:root{
    --texto: #000000;
    --principal: #263b54;
    --principal-clara: #3c526d;
   
    --secundaria: #6d0000; 
    --secundaria2: #990404;
    --secundaria-text: #ac4200;
    --branco2: #cbd5dc; 
    --branco: #ffffff;
    --principal-clarinho: #4975ab;

}

.footerMain{
    background-image: linear-gradient(to top, var(--principal) 60%, var(--principal, rgba(255,255,255,0.15)), var(--branco));
    background-color: var(--principal);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
    justify-content: space-between;
    align-items: center;
}
.footerText{
    color: var(--branco2);
    text-align: center;
    
    width: 40%;
}
.footerTitle{
    color: var(--texto);
    font-weight: bold;
    margin-left: 15%;
    font-size: 24px;
}
.footerDescription{
    color: var(--branco2);
    margin-left: 15%;
    font-size: 16px;
}


.footerLink {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    margin-left: auto;
    color: var(--branco2);
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
}

.menu{
    margin-right: 15%;
    text-align: left;
    margin-top: 3%;
    display: block;
}
.iconSobre, .iconPublicar{
    height: 15px;
    width: 15px;  
}

.menuText{
    font-size: 20px;
    font-weight: bold;
    display: block;  
    text-decoration: none;
    color: var(--texto);
    
}
.footerCopy{
    text-align: center;
    margin: 1%;    
    width: 100%;     
    color: var(--branco2);     
}
