@import url("../../Global.css");

.footerMain{
    background-color: var(--primary-purple-black);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    align-items: center;
    

}
.footerText{
    color: var(--white);
    text-align: center;
    margin-top: 1%;
    width: 40%;
}
.footerTitle{
    color: var(--white);
    font-weight: bold;
    margin-left: 15%;
    font-size: 24px;
}
.footerDescription{
    color: var(--white);
    margin-left: 15%;
    font-size: 16px;
}