@import url("../../Global.css");

.footerMain{
    background-color: var(--primary-purple-black);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 30%;
    align-items: center;
    

}
.footerTitle{
    color: var(--white);
    margin-left: 15%;
    font-size: 24px;
}
.footerDescription{
    color: var(--white);
    margin-left: 15%;
    font-size: 16px;
}