@import url("../../Global.css");

.footerMain{
    background-color: var(--primary-purple-black);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 166px;
    align-items: center;
    

}
.footerText{
    color: var(--white);
    text-align: center;
    margin-top: 1%;
    width: 40%;
}
.footerTitle{
    color: var(--white);
    font-weight: bold;
    margin-left: 15%;
    font-size: 24px;
}
.footerDescription{
    color: var(--white);
    margin-left: 15%;
    font-size: 16px;
}

.DepoisMuda{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    display: block;  
    text-decoration: none;
    color: var(--white);

}

.footerLink, .footerLink {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    display: block;  
    text-decoration: none;
    color: var(--orange);
   
}

.iconSobre, .iconPublicar{
    height: 15px;
    width: 15px;  
    
}

.footerCopy{
    text-align: center;  
    margin-top: 20px;     
    width: 100%;     
    color: var(--white);     
}
