@import url("../../Global.css");

.footerMain{
    background-color: var(--primary-purple-black);
   
    width: 100%;
    height: 100px;
    align-items: center;
    

}
.footerTitle{
    color: var(--white);
    margin-left: 15%;
    font-size: 24px;
}
.footerDescription{
    color: var(--white);
    margin-left: 15%;
    font-size: 16px;
}