@import url(../../Global.css);


.tudo{
    
    background-color: var(--principal);

}

.titulo{
    margin-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--principal-clarinho);
}

.metade{
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textExplicativo {
    color: var(--branco2);
}
.ImgBox{
    width: 200px;
}

.ImgPrincipalSobre{
        
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.responsaveis{
    justify-content: center;
    padding: 4%;
    display: flex;
    gap: 5%;
}
.perfilGit{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
.perfilGit:hover{
    transition: 300ms;
    box-shadow: 0 8px 12px var(--texto);
}
.perfilBox{
    margin: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.responsaveisTit{
    text-align: center;
    color: var(--branco2);
    margin-top: 5%;
}