@import url("../../Global.css");

.headerMain{
    border-bottom: 1px solid var(--primary-purple-light);
}
.mainContent{
    width: 70%;
    margin: 3% auto;

}
.mainHeader{
    display: flex;
    align-items: center;
    text-align: center;
}
.mainTitle{
    font-size: 24px;
	font-weight: bold;
	color: var(--gray);
}
.mainBtnAdicionar{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    height: 50px;
    padding: 16px;
    margin-left: auto;
    background-color: var(--primary-purple);
    color: var(--white);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid var(--primary-purple-light);

}
.postsContainer{
  
    display: flex;
    flex-wrap: wrap;
    gap: 2%;

}
.postCard{
    margin-bottom: 20px;
    height: 350px;
    width: 32%;
}
.AdicionarIcon{
    color: var(--white);
    width: 16px;
    height: 16px;
    display: block;
}
.postImage{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.postText{
    text-align: left;
    margin-bottom: 10px;
    padding : 0 10px;

}
.postTitle{
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
    max-width: 210px;
    margin: 15px 0 10px 0;
}
.postdescription{
    
    font-size: 15px;
    color: var(--gray);
    margin-bottom: 8px;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.postInfo{
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    gap: 6px;
}

.postAuthorText{
   font-size: 14px;
   color: var(--dark-gray);
}

.postAutorIcon{
  width: 16px;
  height: 16px;
}

.postDateText{
   font-size: 14px;
    color: var(--dark-gray);
}

.postButtons{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
   
}
.postBtnEditar{
    color: var(--white);
    background-color: var(--primary-purple);
    border: none;
    cursor: pointer;
    width: 160px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.postBtnExcluir{
    color: var(--white);
    background-color: var(--red);
    border: none;
    cursor: pointer;
    width: 160px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}
.imagExcluir{
    color: var(--white);
    width: 16px;
    height: 16px;
}
.imagExcluir{
    color: var(--white);
    width: 16px;
    height: 16px;
}

