@import url("../../Global.css");
:root{
    --texto: #000000;
    --principal: #263b54;
    --principal-clara: #3c526d;
   
    --secundaria: #6d0000; 
    --secundaria-text: #ac4200;
    --branco2: #cbd5dc; 
    --branco: #ffffff;
    --principal-clarinho: #4975ab;

}
.headerMain{
    border-bottom: 1px solid var(--principal-clara);
}
.mainContent{
    width: 70%;
    margin: 3% auto;
    align-items: center;
    text-align: center;

}
.mainHeader{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 4%;
}
.mainTitle{
    font-size: 24px;
	font-weight: bold;
	color: var(--texto);
}
.mainBtnAdicionar{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    height: 50px;
    padding: 10px;
    margin-left: auto;
    background-color: var(--principal-clara);
    color: var(--branco);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid var(--principal-clara);

}
.mainBtnAdicionar:hover{
    padding: 12px;
    transition: 500ms;
    background-color: var(--principal);
}
.postsContainer{
    border: 1px dashed var(--principal);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    
}
.postCard{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secundaria-text);
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AdicionarIcon{
    color: var(--white);
    width: 16px;
    height: 16px;
    display: block;
}

.postImage{
    width: 100%;
    height: 150px;
    object-fit: cover;   /* mantém proporção, corta corretamente */
    border-radius: 4px;
    margin-bottom: 5px;
}
.postText{
    text-align: left;
    margin-bottom: 10px;
    padding : 0 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

}
.postTitle{
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
    max-width: 210px;
    margin: 15px 0 10px 0;
}
.postdescription{
    
    font-size: 15px;
    color: var(--gray);
    margin-bottom: 8px;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.postInfo{
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    gap: 6px;
    flex: 1;
    
}
.postAuthorText{
   font-size: 14px;
   color: var(--dark-gray);
}

.postAutorIcon{
    width: 16px;
    height: 16px;
}

.postDateText{
     font-size: 14px;
        color: var(--dark-gray);
}

.postButtons{
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: space-between;
        text-align: center;
}

.postBtnEditar{
    color: var(--);
    background-color: var(--secundaria);
    border: none;
    cursor: pointer;
    width: 160px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    gap: 20%;
}

.postBtnExcluir{
    color: var(--white);
    background-color: var(--red);
    border: none;
    cursor: pointer;
    width: 160px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    gap: 20%;
}
.imagExcluir{
    color: var(--white);
    width: 16px;
    height: 16px;
}
.imagExcluir{
    color: var(--white);
    width: 16px;
    height: 16px;
}
.returnImg{
    width: 30px;
    height: 30px;
    border: 3px solid var(--primary-purple);
    border-radius: 20px;
}
.headerUserInfo{
    width: 15%;
    display: flex;
    align-items: center;
}