@import url("../../Global.css");

:root {
    --texto: #000000;
    --principal: #263b54;
    --principal-clara: #3c526d;

    --secundaria: #6d0000;
    --secundaria-text: #ac4200;
    --branco2: #cbd5dc;
    --branco: #ffffff;
    --principal-clarinho: #4975ab;

}

.headerMain {
    border-bottom: 1px solid var(--principal-clara);
}

.mainContent {
    width: 70%;
    margin: 3% auto;
    align-items: center;


}

.mainHeader {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 4%;
}

.mainTitle {
    font-size: 24px;
    font-weight: bold;
    color: var(--texto);
}

.mainBtnAdicionar {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    height: 50px;
    padding: 10px;
    margin-left: auto;
    background-color: var(--principal-clara);
    color: var(--branco);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid var(--principal-clara);

}

.mainBtnAdicionar:hover {
    box-shadow: 0 4px 8px var(--texto);
    transform: translateY(-2px);
    transition: 300ms;
    background-color: var(--principal);
}

.postsContainer {
    border: 1px dashed var(--principal);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5% ;
    padding: 10px;
    
}

.postCard {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AdicionarIcon {
    color: var(--branco);
    width: 16px;
    height: 16px;
    display: block;
}

.postImage {
    width: 100%;
    height: 150px;
    /* object-fit: cover;    mantém proporção, corta corretamente */
    border-radius: 4px;
    margin-bottom: 5px;
}
.postImage:hover{
    box-shadow: 0 4px 8px var(--texto);
    transition: 300ms;
}

.postText {
    text-align: left;
    margin-bottom: 10px;
    padding: 0 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

}

.postTitle {
    font-size: 20px;
    font-weight: bold;
    color: var(--texto);
    max-width: 210px;
    margin: 15px 0 10px 0;
    text-align: left;
}
.postTitle:hover{
    font-size: 21px;
    transition: 300ms;
    transform: translateY(-2px);
}
.postdescription {
    text-align: left;
    font-size: 15px;
    color: var(--principal);
    margin-bottom: 8px;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.postdescription:hover{
    transition: 300ms;
    transform: translateY(-2px);
}
.postInfo {
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    gap: 6px;
    flex: 1;

}

.postAuthorText {
    font-size: 14px;
    color: var(--principal-clara);
}

.postAutorIcon {
    width: 16px;
    height: 16px;
}
.postAutorIcon:hover{
    width: 18px;
    height: 18px;
    transition: 300ms;
    transform: translateY(-5px);
}
.postDateText {
    font-size: 14px;
    color: var(--principal-clara);
}
.postAuthorText:hover,.postDateText:hover{
    transition: 300ms;
    transform: translateY(-2px);
}
.postDateIcon{
    width: 16px;
    height: 16px;
}
.postDateIcon:hover{
    width: 18px;
    height: 18px;
    transition: 300ms;
    transform: translateY(-5px);
}
.postButtons {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.postBtnEditar {
    color: var(--branco2);
    background-color: var(--principal);
    border: none;
    cursor: pointer;
    width: 160px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    gap: 20%;
}
.postBtnEditar:hover{
    box-shadow: 0 4px 8px var(--texto);
    background-color: var(--principal-clarinho);
    transition: 300ms;
}
.postBtnExcluir {
    color: var(--branco2);
    background-color: var(--principal);
    border: none;
    cursor: pointer;
    width: 160px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    gap: 20%;
}
.postBtnExcluir:hover{
    box-shadow: 0 4px 8px var(--texto);
    background-color: var(--principal-clarinho);
    transition: 300ms;
}


.imagExcluir {
    color: var(--white);
    width: 16px;
    height: 16px;
}


.headerUserInfo {
    width: 15%;
    display: flex;
    align-items: center;
}
