:root{
    --primary-color: #7063F0;
    --primary-color-light: hsl(246, 100%, 80%);
    --secondary-color: #F06368;
    --gray-color-1: #4e4e4e;
    --gray-color-2: #9995A6;
    --gray-color-3: #202024;
    --gray-color-4: #323238;
    --black-color: #000000;
    --white-color: #FFFFFF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerMain{
  display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
  border-bottom: 1px solid var(--primary-color-light);
}

.headerTitle{
  margin-left: 15%;
  font-size: 24px;
	font-weight: bold;
	color: var(--primary-color);
}
.headerText{
  margin-right: 15%;
    font-size: 18px;
	color: var(--gray-color-1);
}
.mainContent{
    width: 70%;
    margin: 3% auto;

}
.mainHeader{
    display: flex;
    align-items: center;
    text-align: center;
}
.mainTitle{
    font-size: 24px;
	font-weight: bold;
	color: var(--gray-color-1);
}
.mainBtnAdicionar{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    height: 50px;
    padding: 16px;
    margin-left: auto;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid var(--primary-color-light);

}
.postsContainer{
  
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;

}
.postCard{
    margin-bottom: 20px;
    height: 350px;
    width: 32%;
    
}
.AdicionarIcon{
    color: var(--white-color);
    width: 16px;
    height: 16px;
    display: block;
}
.postImage{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.postText{
    text-align: left;
    margin-bottom: 10px;
    padding : 0 10px;

}
.postTitle{
    font-size: 20px;
    font-weight: bold;
    color: var(--black-color);
    max-width: 210px;
    margin: 15px 0 10px 0;
}
.postdescription{
    
    font-size: 15px;
    color: var(--gray-color-1);
    margin-bottom: 8px;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.postInfo{
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    gap: 6px;
}

.postAuthorText{
   font-size: 14px;
   color: var(--gray-color-2);
}

.postAutorIcon{
  width: 16px;
  height: 16px;
}

.postDateText{
   font-size: 14px;
    color: var(--gray-color-2);
}

.postButtons{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
   
}
.postBtnEditar{
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    width: 160px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.postBtnExcluir{
    color: var(--white-color);
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
    width: 160px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}
.imagExcluir{
    color: var(--white-color);
    width: 16px;
    height: 16px;
}
.imagExcluir{
    color: var(--white-color);
    width: 16px;
    height: 16px;
}

.criar{
  display: none; /* genial deixa invisible massa demais */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(76, 76, 97, 0.85); /*  trasparente */ 
  -webkit-backdrop-filter: blur(8px); /*  trasparente */ 
  backdrop-filter: blur(8px); /*  trasparente */ 
  justify-content: center;
  align-items: center;

}


.criar.active {
  display: flex;
}

.criarMain {

  background: var(--white-color);
  max-width: 480px;
  border-radius: 16px;
  border: 1.5px solid var(--gray-color-1);
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.criarHeader {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  
}

.titleText {
  font-size: 24px;
  font-weight: 600;
  color: var(--black-color);
  width: 100%;
} 
.description{
  font-size: 12px;
  color: var(--gray-color-1);
  padding: 5px 24px;
}
.descriptionBox{
  font-size: 12px;
  color: var(--gray-color-1);
  width: 100%;
 
}
.formContainer {
  padding: 28px 24px;
}

.inputBox {
  margin-bottom: 15px;
}

.inputBox label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: var(--gray-color-1);
  font-size: 16px;
}

.inputBox input {
  width: 100%;
  padding: 12px;
  background: var(--white-color);
  border: 1.5px solid var(--gray-color-1);
  border-radius: 8px;
  color: var(--black-color);
  font-size: 1rem;
  transition: border 0.2s;
}

.inputBox input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.criarButtons {
  margin-top: 24px;
  align-items: center;
  text-align: center;
}
.btnSalvar{
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    border-radius: 12px;
    cursor: pointer;
    width: 210px;
    height: 30px;
    text-align: center;
    align-items: center;
    
}
.btnCancelar{
    color: var(--white-color);
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
    border-radius: 12px;
    cursor: pointer;
    width: 210px;
    height: 30px;
    text-align: center;
    align-items: center;
    
}