
@import url("AllStyle/Blog/Blogs.css");
@import url("AllStyle/Home/Home.css");
@import url("AllStyle/Login/Login.css");

/*inportação do inAll os que tem em tudim*/
@import url("AllStyle/InAll/header.css");
@import url("AllStyle/InAll/shoes.css");
@import url("AllStyle/InAll/ModalCriar.css");
@import url("AllStyle/InAll/BlogPage.css");

/*fontezinha do banco digital la kkkkk(importação da fonte usada no site)*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*rergulando every*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    
}

/*huuuuuum que tipo de cor?*/

:root{
    --primary-purple: #370617; /*(#370617): home: botao de voltar pra cima, frase grande e lupa; blogPages: titulo, botao de voltar; blog: titulo, botao com seta, botao (novo post(dentro) e botao de criar postagem (salvar(dentro))*/
    --primary-purple-light: #d00000; /*(#d00000): home: linha em baixo de "artigo", linha da barra de "pesquisa artigo"; Pages: linha do header e fundo de tecnologia; Blog: todas as linhas que tiver*/
    --primary-color-blur: #9995a6a2; /*(#9995a6a2): Home: nada; Pages: nada; Blog: fundo da caixa de criar postagem*/
    --primary-purple-black: #370617; /*(#370617): Home: fundo do começo e fim, 2 linha da barra de "pesquisar artigos"; Pages: nada; Blog: quando passa a seta em cima de salvar*/
    --secondary-purple-black: #9d0208; /*(#9d0208): Home: nada; Pages: nada; Blog: nada (acho que não tem em nenhum ou so estou cega de sono mesmo)*/

    --red: #6a040f; /*(#6a040f): Home: naada; Pages: nada; Blog: botao do "cancelar (visto de primeira)" */

    --gray: #eb8500; /*(#000000): home: nada; pages: nome "bem vindo(letras)"; blog: nome "bem vindo(letras), letra do nome "minhas publicações" e palavras da caixa de criação de novo post*/
    --dark-gray:#0dea66; /*(#db07074e): home: nada; pages: nada; blog: */
    --black: #000000; 
    --white: #ffffff; /*botoes da caixa (criar postagem), botao do blog (novo post (letra)), fundo abaixo do header do blogpages, degrader e letras maiores do home*/
    --white-back: #370617; /*a caixa */
    --white-gray: #ffffff;

    --dark-blue: #6a040f; /*show*/
    --secondary-dark-blue: #d00000;
    --orange: #eb8500;
    --vine: #570000;
    
    --vine-glass: #d00000;
   
    
}
/*
musicas pra escutar estilizando

1- coisas que eu sei-felipe amorim
2- aliança-tribalhistas
3- Dancing queen - ABBA
4- doce criança minha(sweet chuld'o mine) guns e rosas E ESTRANGED
5- Qualquer musica de joão gomes,tarcisio do acordeon e zé vaqueiro
...
*/