
@import url("AllStyle/Blog/Blogs.css");
@import url("AllStyle/Home/Home.css");
@import url("AllStyle/Login/Login.css");

/*inportação do inAll os que tem em tudim*/
@import url("AllStyle/InAll/header.css");
@import url("AllStyle/InAll/shoes.css");
@import url("AllStyle/InAll/ModalCriar.css");

/*fontezinha do banco digital la kkkkk(importação da fonte usada no site)*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*rergulando every*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    
}

:root{
    --primary-purple: #7063F0;
    --primary-purple-light: rgba(102, 102, 238, 0.85);
    --primary-color-blur: #9995a6a2;
    --primary-purple-black: #39194e;

    --red: #F06368;

    --gray: #4e4e4e;
    --dark-gray:#2420204e;
    --black: #000000;

    --white: #ffffff;
    --white-back: #afa8f0;
    --white-gray: #bdbdbd;

    --dark-blue: #0d003a;
    --orange: #eb8500;
    --vine: #460000;
    --vine-glass: #c21212;
    --transition :#6f5283;

}
/*
musicas pra escutar estilizando

1- coisas que eu sei-felipe amorim
2- aliança-tribalhistas
3- Dancin- seila que diacho de autor
4- doce criança minha(sweet chuld'o mine) guns e rosas
5- Qualquer musica de joão gomes,tarcisio do acordeon e zé vaqueiro
...
*/