
@import url("AllStyle/Blog/Blogs.css");
@import url("AllStyle/Home/Home.css");
@import url("AllStyle/Login/Login.css");
@import url("AllStyle/Home/BlogPage.css");

/*inportação do inAll os que tem em tudim*/
@import url("AllStyle/InAll/header.css");
@import url("AllStyle/InAll/shoes.css");
@import url("AllStyle/InAll/ModalCriar.css");

/*fontezinha do banco digital la kkkkk(importação da fonte usada no site)*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*rergulando every*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    
}

/*huuuuuum que tipo de cor?*/

:root{
    --texto: #000000;
    --principal: #263b54;
    --principal-clara: #3c526d;
   
    --secundaria: #6d0000; 
    --secundaria2: #c91010;
    --secundaria-text: #ac4200;
    --branco2: #cbd5dc; 
    --branco: #ffffff;
    --principal-clarinho: #5f84b3;


}
/*
musicas pra escutar estilizando

1- coisas que eu sei-felipe amorim
2- aliança-tribalhistas
3- Dancing queen - ABBA
4- doce criança minha(sweet chuld'o mine) guns e rosas E ESTRANGED
5- Qualquer musica de joão gomes,tarcisio do acordeon e zé vaqueiro
...
*/
