@import url(../../Global.css);


.inicio{
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    color: var(--branco2);
    font-size: 14px;
    text-decoration: none;
    background-color: var(--principal);

}

.image-area{
    width: 70%;
    max-height: 500px;
    margin: auto;
  
}
.image-area img{
    max-height: 500px;
    width: 100%;
    border-radius: 10px;
    
}
.post-card{
    top: -50px;
    position: relative;
    margin: auto;
    background-color: var(--principal);
    padding: 2%;
    text-align: left;
    width: 60%;
    border-radius: 20px;
   /* box-shadow: 0px 10px 30px var(--secundaria);*/
}

.categoria{
    padding: 2px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 600;
    color: var(--texto);
    background-color: var(--principal-clarinho);
}

.text{
    font-size: 28px;
    margin: 20px 0 10px;
    color: var(--branco2);
}

.assuntoText{
    padding: 20px 0 50px 0;
}
.metaPost{
    display: flex;
    gap: 8px;
    margin-left: auto;
    font-size: 13px;
    color: var(--branco2);
    align-items: center;
    text-align: left;
    margin-left: auto;
}
.assuntoText p{
    padding: 20px 0 50px 0;
}

.assuntoText h2{
    padding: 20px 0 50px 0;
    margin-top: 25px;
    font-size: 20px;
}
.returns{
    margin-top: 1%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.returnText{
    text-decoration: none;
    color: var(--branco);
    font-size: 18px;
   
}
.assunto h1{
    color: var(--texto);
    
}
.assunto p{
    color: var(--principal-clara);
    
}
.assunto{
    text-align: center;
}

.titleExentended{
    margin-top: 8%;
    margin-left: 10%;
    color: var(--principal);
}
