@import url("../../Global.css");

:root{
    --primary-purple: #7063F0;
    --primary-purple-light: rgba(102, 102, 238, 0.85);
    --primary-color-blur: #9995a6a2;
    --primary-purple-black: #39194e;

    --red: #F06368;

    --gray: #4e4e4e;
    --dark-gray:#2420204e;
    --black: #000000;

    --white: #ffffff;
    --white-back: #afa8f0;
    --white-gray: #bdbdbd;

    --dark-blue: #0d003a;
    --orange: #eb8500;
    --vine: #460000;
    --vine-glass: #c21212;
   
    
}
    /*Rato AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
    /*pra la ana ratinha vea*/
.alterPage{
    margin-right: 15%;
    display: flex;
    align-items: center;
    text-align: center;
}
.homeLink,.entrarLink,.blogsLink{
    align-items: center;
    text-align: center;
    padding: 15px
}
.imgHome,.imgEntrar,.imgBlogs{
    height: 20px;
    width: 20px;
    
}
.alterButtons{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    color: var(--orange);
    border: none;
    cursor: pointer;
    text-align: center;
    background: none;
}
.mainHome{
    width: 100%;
    display: flex;
    
}
.introductionBox{
    width: 100%;
    height: 500px;
    
    text-align: center;
    background: linear-gradient(to bottom, var(--primary-purple-black) 40%,var(--transition), var(--white));
    background-color: var(--primary-purple-black);
}
.intrudutionTitle{  
     color: var(--white);
     margin-top: 8%;
}
.intrudutionText{
    color: var(--white);
}
.moreButtons{
    
    text-align: center;
    margin-top: 2%;
    
}
.btnAdd{
    background-color: var(--dark-blue);
    color: var(--orange);
    border: var(--primary-purple-black);
    height: 35px;
    width: 12%;
    border-radius: 30px;
    cursor: pointer;
    
}
.bntExplo{
    background-color: var(--vine);
    color: var(--orange);
    border: var(--vine-glass);
    height: 35px;
    width: 12%;
    border-radius: 30px;
    cursor: pointer;
}
.populares{
    display: flex;
    flex-wrap: wrap;
    
    margin-left: 15%;
    margin-right: 15%;
}
.popularesBlog{
    color: var(--primary-purple);
    width: 100%;
}
.titles{
    width: 100%;
}
.maisPopular{
    margin-bottom: 20px;
    height: 350px;
    width: 50%;
}

.popularImg{
    width: 100%;
    
}
.popularInfo{
    display: flex;
}
.postDateIcon{
    height: 20px;
    width: 20px;
}
.popularTimeIcon{
    height: 20px;
    width: 20px;
}