@import url("../../Global.css");


    /*Rato AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
    /*pra la ana ratinha vea*/
.alterPage{
    margin-right: 15%;
    display: flex;
    align-items: center;
    text-align: center;
}
.homeLink,.entrarLink,.blogsLink{
    align-items: center;
    text-align: center;
    padding: 15px
}
.imgHome,.imgEntrar,.imgBlogs{
    height: 20px;
    width: 20px;
    
}
.alterButtons{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    color: var(--orange);
    border: none;
    cursor: pointer;
    text-align: center;
    background: none;
    text-decoration: none;
    font-size: 14px;
}
.mainHome{
    width: 100%;
    display: flex;
}
.introductionBox{
    width: 100%;
    height: 500px;
    text-align: center;
    background: linear-gradient(to bottom, var(--primary-purple-black) 40%,var(--transition), var(--white));
    background-color: var(--primary-purple-black);
}
.intrudutionTitle{  
     color: var(--white);
     margin-top: 12%;
}
.intrudutionText{
    color: var(--white);
}
.moreButtons{
    text-align: center;
    margin-top: 4%;
    
}
.btnAdd{
    background-color: var(--dark-blue);
    color: var(--orange);
    border: var(--primary-purple-black);
    height: 35px;
    width: 12%;
    border-radius: 30px;
    cursor: pointer;
    
}

.bntExplo{
    background-color: var(--vine);
    color: var(--orange);
    border: var(--vine-glass);
    height: 35px;
    width: 12%;
    border-radius: 30px;
    cursor: pointer;
}

/* daqui pra baixo é territorio desconhecido, não foi eu, o
autor principal quem escreveu o codigo abaixo CUIDADO*/
.container {
    width: 90%;
    max-width: 1250px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 60px;
}

.tag-top {
    font-size: 12px;
    letter-spacing: 1px;
    color: #7b5cff;
}

.destaque h1 {
    margin-top: 8px;
    margin-bottom: 25px;
    font-size: 32px;
}
.info{
    margin-top: 2%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
main{
    align-items: center;
}

.card-destaque {
    background: #fff;
}

.card-destaque img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 8px;
}

.tag {
    color: #9078fa;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.card-destaque h2 {
    margin-top: 14px;
    font-size: 22px;
    line-height: 1.4;
}
.irArtigo{
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 0;
    margin: 0;
}
.irArtigo :hover{
    transition: 500ms;
    color: var(--primary-purple);
    text-decoration: underline;
}

.meta {
    margin-left: auto;
    font-size: 13px;
    color: #666;
    align-items: center;
    text-align: center;
}
.populares{
    margin: 45px;
    
}
.populares h3 {
    font-size: 22px;
    margin-bottom: 25px;
}

.popular-item {
    align-items: center;
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 2px solid #9078fa;
}

.popular-item img {
    width: 80px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}

.popular-item h4 {
    font-size: 15px;
    margin: 4px 0;
    font-weight: 600;
}

/* acaba aqui, o que esta (°°) abaixo é normal
                          /\
                          ||*/

.postsContainerHome{

    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;

}
.sumir{
    display: none;
}
.sumir.ativo{
    display: block;
}
.postCardHome{ 
    margin-bottom: 20px;
    height: 350px;
    width: 30%;
}
.searchBox{
    justify-content: right;
    display: flex;
    border: 1px solid var(--primary-purple-light);
    
}
.searchInp{
    border: none;
    outline: none;
    font-size: 14px;
    height: 20px;
    width: 200px;
}
.lupa{ 
    background-color: var(--primary-purple);
    height: 20px;
    width: 20px;
}
.homeTitle{
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
    
}
.homeHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}