@import url("../../Global.css");

:root{
    --texto: #000000;
    --principal: #263b54;
    --principal-clara: #5880af;
   
    --secundaria: #6d0000; 
    --secundaria2: #990404;
    --secundaria-text: #d75403;
    --branco2: #cbd5dc; 
    --branco: #ffffff;
    --principal-clarinho: #4975ab;

}

/*Rato AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
/*pra la ana ratinha vea*/

.mainHome{
    width: 100%;
    display: flex;
}
.introductionBox{
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--principal) 60%, var(--transition, var(--branco)), var(--branco));
    background-color: var(--principal);
}
.intrudutionTitle{  
     color: var(--branco2);
     margin-top: 8%;
}
.intrudutionText{
    color: var(--branco2);
}
.moreButtons{
    text-align: center;
    margin-top: 4%;
    
}
.btnAdd{
    background-color: var(--principal-clarinho);
    color: var(--texto);
    border: var(--principal);
    height: 35px;
    width: 12%;
    border-radius: 30px;
    cursor: pointer;
}

.bntExplo{
    background-color: var(--principal-clarinho);
    color: var(--texto);
    border: var(--principal);
    height: 35px;
    width: 12%;
    border-radius: 30px;
    cursor: pointer;
}
.btnAdd:hover{
    transform: translateY(-5px);
    
    transition: 500ms;
    background-color: var(--branco2);
}
.bntExplo:hover{
    transform: translateY(-5px);
    
    transition: 500ms;
    background-color: var(--branco2);
}

.container {
    width: 80%;
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    align-items: baseline;

}
.tag-top {
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--principal-clarinho);
    margin-left: 10%;
    
}

.destaque h1 {

    font-size: 32px;
}
.info{
    width: 100%;
    margin-top: 2%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.card-destaque {
    background: var(--branco);
    margin-bottom: 5%;
}
.destaqueImg{
    width: 100%;
    height: 330px;
    border-radius: 8px;
}   
.tag {
    color: var(--principal-clarinho);
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
.card-destaque h2 {
    margin-top: 14px;
    font-size: 22px;
    line-height: 1.4;
    
   
}
.irArtigo{
    border-radius: 10px;
    background: none;
    border: none;
    cursor: pointer;

}
.irArtigo:hover{
    transform: translateY(-5px);
    transition: 500ms;
    color: var(--principal);
    box-shadow: 10px var(--texto);
    box-shadow: 0 4px 8px var(--texto);
}
.irPopulares{
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    align-items: center;
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--principal-clara);
    border-radius: 10px;
}
.irPopulares:hover{
    transition: 500ms;
    color: var(--principal);
    box-shadow: 10px var(--texto);
    box-shadow: 0 4px 8px var(--texto);
    transform: translateY(-5px);
}
.irPopular{
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 2%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--principal-clara);
    border-radius: 10px;
    padding: 5px;
}
.irPopular:hover{
    transition: 500ms;
    color: var(--principal);
    box-shadow: 0 4px 8px var(--texto);
    transform: translateY(-5px);
}
.DestaqueTitle{
    text-align: left;
    width: 100%;
}
.meta {
    display: flex;
    gap: 8px;
    margin-left: auto;
    font-size: 13px;
    color: var(--texto);
    align-items: center;
    text-align: left;
    margin-left: auto;
}
.populares{
    padding-top:35px ;
}
.popularesText {
    font-size: 22px;
    margin-bottom: 11%;
}
.destaquesText{
    width: 100%;
}
.popular-item {
    align-items: center;
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
    padding-bottom: 20px;
   
}
.popular-item img {
    width: 80px;
    height: 70px;
    border-radius: 5px;
}
.popular-item h4 {
    font-size: 15px;
    margin: 4px 0;
    font-weight: 600;
}

/*(°°) cada coisa viu. Ass: Ana Clara
   /\
   ||
*/

.postsContainerHome{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    gap: 1%;    
    border: 1px dashed var(--principal);
}
.postCardHome{ 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 20px;
    height: 350px;
    width: 30%; 
}
.postImageHome{
    width: 100%;
    height: 150px;
    /* object-fit: cover;    mantém proporção, corta corretamente */
    border-radius: 4px;
    margin-bottom: 5px;
}

.searchBox{
    justify-content: right;
    display: flex;
    border: 2px solid var(--principal);
    border-radius: 6px;
}
.searchBox:hover{
   
    transition: 500ms;
    border: 2px solid var(--principal-clara);

}
.searchInp{
    border: none;
    outline: none;
    font-size: 14px;
    height: 20px;
    width: 200px;
}

.lupa{ 
    background-color: var(--branco2);
    height: 20px;
    width: 20px;
    padding: 1px;
    border-radius: 4px;
}
.homeTitle{
    font-size: 24px;
    font-weight: bold;
    color: var(--principal);
    text-align: left;
}
.homeHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.calendarioIcon{
    height: 16px;
    width: 16px;
}
.cronometroIcon{
    height: 16px;
    width: 16px;
}
.top{
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--principal-clara);
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px var(--texto);
}
.top:hover{
    transition: 500ms;
    height: 33px;
    width: 33px;
}

.topImg{
    height: 100%;
    width: 100%;
}
.nada{

    display: none;
    color: var(--principal);
    font-size: 18px;
    background-color: var(--branco2);
    width: 100%;
    min-height: 250px;
    

}
.nada h3{
    margin: auto;
}
.nada.nada{
    display: flex;
}
.pupularinhos{  
    min-height: 400px;
}